<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <payment>
        <sellixpay>
            <model>Sellix\Pay\Model\Pay</model>
            <active>0</active>
            <title>Sellix Pay</title>
            <instructions>Pay with PayPal, Bitcoin, Ethereum, Litecoin and many more gateways via Sellix</instructions>
            <order_id_prefix>Order #</order_id_prefix>
            <debug>0</debug>
        </sellixpay>
    </payment>
</default>
</config>